= form_for([@event, @coach_application]) do |f|
  - if @coach_application.errors.any?
    #error_explanation
      h2
        = pluralize(@coach_application.errors.count, "error")
        |  prohibited this coach_application from being saved:
      ul
        - @coach_application.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :other_text
    = f.text_area :other_text, rows: 15, placeholder: "#{t 'coach_applications.your_other'}"
    br
  - if @event.coach_dinner_date.present?
    .field
      = f.check_box :coachdinner
      = f.label :coachdinner, "#{t 'coach_applications.coach_dinner_participation', coach_dinner_date: l(@event.coach_dinner_date, format: :long)}"
      br
  .field
    = f.check_box :coc
    = f.label :coc, "#{t 'applications.coc_html'}".html_safe
  .actions
    = f.submit t('events.submit_apply'), class: 'button radius small'

